.test{
    background-color: rgb(145, 145, 145);
    border: 1px solid black;
    display: flex;
    text-align: center;
    height: 60px;
    align-items: center;
    justify-content: center;

    box-shadow: 5px 5px 50px 5px rgba(180, 179, 179, 0.2);

}

.underProcessText{
    text-align: left;
}

.testBox{
    display: flex;
    justify-content: center;
    width: 80%;

    margin-left: 10%;
}

.processTable{
    background-color: whitesmoke;
    border: 1px solid black;
    box-shadow: 5px 5px 50px 5px rgba(255, 255, 255, 0.2);
    width: 80%;
    margin-top: 4em;
    margin-left: 10%;
    margin-right: 10%;
}