.test{

    
    border: 1px solid whitesmoke;
    display: flex;
    text-align: center;
    height: 60px;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    box-shadow: 5px 5px 50px 5px rgba(180, 179, 179, 0.2);
    z-index: -1;


}



.testBox{
    display: flex;
    justify-content: center;
    width: 80%;

    margin-left: 10%;
    margin-top: 4em;
    z-index: -1;
}



.testBox.interval{
    margin-top: 0em;
}

/* .testBox.false{
    left: 100%;
    opacity: 0;
    visibility: hidden;    
}

.testBox.true{
    left: 0%;
    opacity: 1;
    transition: 0.3s ease;
    
    
} */




.intervalBox{
    background-color: transparent;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
    text-align: left;
    height: 20px;
    color: whitesmoke;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;

}


.finalProcess{
    display: flex;
    
}

.ptable-header{
    padding-top: 15px !important;
    font-weight: 400;
    font-size: 1.2em;
}

.processTable{
    box-shadow: 5px 5px 50px 5px rgba(255, 255, 255, 0.2);
    width: 80%;
    margin-top: 4em;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 4em;
    background: rgba(86, 84, 84, 0.38);
    border-radius: 16px;
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
    border: 1px solid rgba(255, 255, 255, 0.35);
    color: whitesmoke;

}

.processTable.info.false{
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;    
}

.processTable.info.true{
    transform: translateY(0%);
    opacity: 1;
    transition: 0.3s ease;
    
    
}

.info-table-header{
    font-size: 1.2em;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid whitesmoke;
}

.info-table-text{
    font-size: 1.2em;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.table-input3, .table-input2, .table-input1{
    color: whitesmoke;
    background-color: rgba(73, 73, 73, 0.1);
    
}

textarea:focus, input:focus{
    outline: none;
}



@media screen and (max-width: 1235px) {

    .intervalBox{
        font-size: 1em !important;
    }
    
}

@media screen and (max-width: 975px) {

    .intervalBox{
        font-size: 0.8em !important;
    }
    
}
    

@media screen and (max-width: 800px) {
    .table-input1, .table-input2, .table-input3{
        width: 80%;
    }

    .intervalBox{
        font-size: 0.6em !important;
    }

    .test{
        font-size: 1em;
    }
    
}

@media screen and (max-width: 772px) {
    .info-table-header{
        font-size: 0.8em;
    }

    .info-table-text{
        font-size: 0.9em;
    }
    
}


@media screen and (max-width: 530px) {
    .info-table-header{
        font-size: 0.7em;
    }

    .info-table-text{
        font-size: 0.8em;
    }
    
}

@media screen and (max-width: 476px) {
    .info-table-header{
        font-size: 0.6em;
    }

    .info-table-text{
        font-size: 0.7em;
    }
    
}

@media screen and (max-width: 420px) {
    .info-table-header{
        font-size: 0.5em;
        font-weight: 700;
    }

    .info-table-text{
        font-size: 0.6em;
    }
    
}

@media screen and (max-width: 369px) {
    .info-table-header{
        font-size: 0.45em;
        font-weight: 600 !important;
    }

    .info-table-text{
        font-size: 0.55em;
    }
    
}

@media screen and (max-width: 555px) {

    .intervalBox{
        font-size: 0.5em !important;
    }
    
}
    