.nodeBox{
    width: 25px;
    height: 25px;
    border: 1px solid white;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    background-color: black;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: background-color 0.2s;
}

.node-unvisited{
    background-color: black;
}




.node-finish{
    background-color: #ff0000;
}
.node-start{
    background-color: #00ff00;
}

.node-wall{
    background-color: white;
}

.node-visited{
    animation-duration: 0.2s;
    animation-name: visitedAnimation;
    background-color: #ffff00;
}

.node-path{
    animation-duration: 0.2s;
    animation-name: shortestPath;
    background-color: #00ffff;
}
.validText{
    color: white;
    font-weight: 500;
}



@media screen and (max-width: 1643px) {
    .nodeBox{
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 1333px) {
    .nodeBox{
        width: 18px;
        height: 18px;
    }
}

@media screen and (max-width: 1210px) {
    .nodeBox{
        width: 16px;
        height: 16px;
    }
}


@media screen and (max-width: 1083px) {
    .nodeBox{
        width: 14px;
        height: 14px;
    }
}

@media screen and (max-width: 960px) {
    .nodeBox{
        width: 12px;
        height: 12px;
    }
}

@media screen and (max-width: 840px) {
    .nodeBox{
        width: 10px;
        height: 10px;
    }
}


@media screen and (max-width: 709px) {
    .nodeBox{
        width: 8px;
        height: 8px;
    }
}

@media screen and (max-width: 585px) {
    .nodeBox{
        width: 6px;
        height: 6px;
    }
}

@media screen and (max-width: 470px) {
    .nodeBox{
        width: 4.5px;
        height: 4.5px;
    }
}

@media screen and (max-width: 382px) {
    .nodeBox{
        width: 3.75px;
        height: 3.75px;
    }
}

@keyframes visitedAnimation{
    0%{
        transform: scale(0.3);
        background-color: #4dff00;
        border-radius: 100%;
    }
    50%{
        transform: scale(1.2);
        background-color: #91ff00;

    }
    100%{
        transform: scale(1);
        background-color: #ffe600;
    }
}

@keyframes shortestPath{
    0%{
        transform: scale(0.3);
        transform: rotate(45deg);
        background-color: #00ffff;
        border-radius: 100%;
    }
    50%{
        transform: scale(1.2);
        background-color: #00ffbf;

    }
    100%{
        transform: scale(1);
        background-color: #00ff00;
    }
}


